.clock {
  position: relative;
  top: 1em;
  left: 1em;
  animation: opacity 0.5s;
  font-size: 52px;
  width: 400px;
  padding: 0.5em;
  background: rgba(255,255,255,0.3);
  border-radius: 4px;
  text-shadow: 1px 1px 5px rgba(255,255,255,0.8);
  color: #2a302a;
}
.clock .date {
  display: inline-block;
}
.clock .date > * {
  display: inline-block;
  font-size: 0.8em;
}
.clock .date .month {
  opacity: 0.3;
}
.clock .date .day {
  font-size: 1em;
  padding-right: 0.2em;
  /* font-weight: bold; */
}
.clock .time {
  padding-left: 1em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-family: "Ubuntu Mono", monospace;
  color: #222;
  font-size: 60px;
}

.clock .time > * {
  display: inline-block;
}

.clock .time .seconds {
  font-size: 0.8em;
}

.separator-off {
  opacity: 0.1;
}
