.clock {
  position: relative;
  top: 1em;
  left: 1em;
  animation: opacity 0.5s;
  font-size: 60px;
  padding: 0.5em;
  /* background: rgba(255,255,255,0.3); */
  color: #eee;
}
.clock .date {
  display: inline-block;
  font-size: 0.8em;
}
.clock .date > * {
  display: inline-block;
}
.clock .date .month {
  opacity: 0.8;
}
.clock .date .day {
  padding-right: 0.2em;
  font-weight: bold;
}
.clock .time {
  border-bottom: 6px solid #333;
  padding-left: 0.5em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-family: "Ubuntu Mono", monospace;
  color: #eee;
  font-size: 60px;
}

.clock .time > * {
  display: inline-block;
}

.clock .time .seconds {
  font-size: 0.8em;
}

.separator-off {
  opacity: 0.1;
}
